/* reset css */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* text design */

body
{
    background-color: #021128;
    font-family: 'Inter', sans-serif;
}

h1
{
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 8px;
    font-family: 'Frijole', 'Inter', sans-serif;
}

h2
{
    font-size: 34px;
    font-weight: normal;
}

h3
{
    font-size: 32px;
    font-weight: normal;
    padding: 0 0 10px 0;
}

h4
{
    font-size: 28px;
    font-weight: normal;
    padding: 0 0 8px 0;
}

p
{
    line-height: 1.2;
    padding-bottom: 8px;
}

/* page container */

.container
{
    background-color: #021128;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

/* header */

header
{
    background-color: #021128;
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 10px 0 0 0;
    flex: 1 0 100%;
}

/* navigation */

nav
{
    flex: 1 0 100%;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #021128;
    justify-content: center;
    display: flex;
}

nav a
{
    display: block;
    color: #fff;
    padding: 14px 16px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

}

nav a:hover
{
    background-color: #062145;
}

/* sidebar */

aside
{
    background-color: #04214b;
    border-radius: 25px;
    padding: 25px;
    color: #fff;
    float: left;
    margin: 0 1.2%;
    margin-top: 20px;
    flex: 1 0 28%;
}

.profile-picture
{
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* main content */

main
{
    background-color: #04214b;
    border-radius: 25px;
    padding: 25px;
    color: #fff;
    float: left;
    margin: 0 1.2%;
    margin-top: 20px;
    flex: 1 0 60%;
}

.rogue-rat-main, .fizz-fusion-main
{
    border: 5px solid #fff;
    display: block;
    width: 75%;
    text-align: center;
}

.projects-main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.project-item-main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.project-item-main p
{
    padding-top: 10px;
}

/* about me page */

a[href^="mailto:"]
{
    font-family: 'Inter', sans-serif;
    color: #fff;
}

a[href^="mailto:"]:hover
{
    text-decoration: none;
    color: #021128;
}

/* contact page */

.contact-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    background-color: #04214b;
    border-radius: 25px;
    color: #fff;
    padding: 20px;
}

.contact-form-button
{
    display: inline-block;
    background-color: #fff;
    color: #021128;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form-button:hover
{
    background-color: #021128;
    color: #fff;
}

/* footer */

footer
{
    background-color: #021128;
    text-align: center;
    color: #fff;
    padding: 125px 0 10px 0;
    clear: both;
    flex: 1 0 100%
}